* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}

.auth-container {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background:
    linear-gradient(
      135deg,
      #eff6ff,
      #ffffff
    );
}

.auth-card {
  width: 420px;

  background-color: white;

  padding: 45px;

  border-radius: 24px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.08);
}

.auth-card h1 {
  text-align: center;

  color: #2563eb;

  font-size: 34px;

  margin-bottom: 10px;
}

.auth-card h2 {
  text-align: center;

  color: #0f172a;

  margin-bottom: 35px;

  font-size: 24px;
}

.auth-card form {
  display: flex;
  flex-direction: column;
}

.auth-card input {
  padding: 16px;

  margin-bottom: 18px;

  border: 1px solid #cbd5e1;

  border-radius: 12px;

  font-size: 15px;

  outline: none;

  transition: 0.3s;
}

.auth-card input:focus {
  border-color: #2563eb;

  box-shadow:
    0 0 0 4px rgba(37,99,235,0.15);
}

.auth-card button {
  margin-top: 10px;

  padding: 16px;

  background-color: #2563eb;

  color: white;

  border: none;

  border-radius: 12px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.auth-card button:hover {
  background-color: #1d4ed8;
}

.auth-card p {
  margin-top: 25px;

  text-align: center;

  color: #64748b;
}

.auth-card a {
  color: #2563eb;

  text-decoration: none;

  font-weight: 600;
}